.tank-shaking-container {
  $bottle-width: 200px;

  @keyframes animate {
    0% {
      transform: rotate(0);
    }

    25% {
      transform: rotate(33deg);
    }

    50% {
      transform: rotate(0);
    }

    75% {
      transform: rotate(-33deg);
    }

    100% {
      transform: rotate(0);
    }
  }

  @keyframes animate2 {
    0% {
      filter: drop-shadow(0 0 50px #41c1fb) hue-rotate(0deg);
      transform: rotate(0);
    }

    25% {
      transform: rotate(-56deg);
    }

    50% {
      transform: rotate(0);
    }

    75% {
      transform: rotate(90deg);
    }

    100% {
      filter: drop-shadow(0 0 50px #41c1fb) hue-rotate(360deg);
      transform: rotate(0);
    }
  }

  @keyframes move {
    0% {
      transform: translateX(-50%);
    }

    25% {
      transform: translateX(calc(-50% + $bottle-width / 10));
    }

    50% {
      transform: translateX(-50%);
    }

    75% {
      transform: translateX(calc(-50% - $bottle-width / 10));
    }

    100% {
      transform: translateX(-50%);
    }
  }

  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 380px;
  padding-top: 120px;
  background-color: #333;

  .content {
    display: flex;
    position: relative;
    flex-direction: column;

    .bottle {
      position: relative;
      z-index: 2;
      width: $bottle-width;
      height: $bottle-width;
      transform-origin: bottom center;
      animation: animate 2s linear infinite;
      border-radius: 50%;
      background-color: #ffffff1a;

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        width: calc($bottle-width / 2);
        height: calc($bottle-width / 5);
        transform: translate(-50%);
        border-radius: 50%;
        background-color: #505250;
        box-shadow: 0 calc($bottle-width / 30) 5px #000;
      }

      .water {
        position: absolute;
        transform-origin: top center;
        animation: animate2 2s linear infinite;
        border-bottom-right-radius: calc($bottle-width / 2);
        border-bottom-left-radius: calc($bottle-width / 2);
        background-color: #41c1fb;
        inset: 50% 10px 10px;

        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 0;
          width: 100%;
          height: 20px;
          border-radius: 50%;
          background-color: #0da2e7;
        }
      }
    }

    .bottleBottom {
      position: absolute;
      top: calc(100% - 66px);
      left: 50%;
      width: $bottle-width;
      height: 30px;
      transform: translateX(-50%);
      animation: move 2s linear infinite;
      border-radius: 50%;
      background-color: rgb(0 0 0 / 50%);
    }
  }
}
