hoist-pattern[]=husky
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=lint-staged
hoist-pattern[]=*stylelint*
hoist-pattern[]=@commitlint/cli
hoist-pattern[]=@erhang/eslint-config
hoist-pattern[]=@vue/*
confirm-modules-purge=false
