// * card 卡片样式
.base-card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  background-color: var(--el-fill-color-blank);
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

:root {
  --el-menu-icon-width: 20px;
}
