@mixin merge-style($sideBarWidth) {
  $menuActiveText: #7a80b4;
  $subMenuActiveText: #409eff;
  $menuBg: #fff;
  $menuHover: #e0ebf6;
  $subMenuBg: #0f0303;
  $subMenuActiveBg: #e0ebf6;
  $menuText: #7a80b4;
  $sidebarLogo: #fff;
  $menuTitleHover: #f80;
  $menuActiveBefore: #4091f7;

  .main-container {
    height: 100vh;
    min-height: 100%;
    /* main-content 属性动画 */
    transition: margin-left var(--transition-duration);
    margin-left: $sideBarWidth;
    position: relative;
    background: #f0f2f5;

    .el-scrollbar__wrap {
      overflow: auto;
      height: 100%;
    }
  }

  .fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    width: calc(100% - 210px);
    /* fixed-header 属性左上角动画 */
    transition: width var(--pure-transition-duration);
  }

  .sidebar-container {
    transition: width var(--transition-duration);
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 0 0 1px #888;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: calc(100% - 44px);
    }

    &.has-logo {
      .el-scrollbar.pc {
        /* logo: 48px、leftCollapse: 40px、leftCollapse-shadow: 4px */
        height: calc(100% - 92px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      display: flex;
      padding-left: 10px;
      flex-wrap: wrap;
      width: 100%;
    }

    .el-menu {
      border: none;
      height: 100%;
      background-color: transparent !important;
    }

    .el-menu-item,
    .el-sub-menu__title {
      height: 50px;
      color: $menuText;
      background-color: transparent !important;

      &:hover {
        color: $menuTitleHover !important;
      }

      div,
      span {
        height: 50px;
        line-height: 50px;
      }
    }

    .submenu-title-noDropdown,
    .el-sub-menu__title {
      &:hover {
        background-color: transparent;
      }
    }

    .is-active > .el-sub-menu__title,
    .is-active.submenu-title-noDropdown {
      color: $subMenuActiveText !important;

      i {
        color: $subMenuActiveText !important;
      }
    }

    .is-active {
      transition: color 0.3s;
      color: $subMenuActiveText !important;
    }

    .el-menu .el-menu--inline .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      font-size: 12px;
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
    }

    /* 无子集的激活菜单背景 */
    .is-active.submenu-title-noDropdown.outer-most {
      background: $subMenuActiveBg !important;
    }

    /* 有子集的激活菜单背景 */
    .is-active.nest-menu {
      background: $subMenuActiveBg !important;
    }
  }

  /* vertical 菜单折叠 */
  .el-menu--vertical {
    .el-menu--popup {
      background-color: $subMenuBg !important;

      .el-menu-item {
        span {
          font-size: 12px;
        }
      }
    }

    & > .el-menu {
      i {
        margin-right: 20px;
      }
    }

    .is-active > .el-sub-menu__title,
    .is-active.submenu-title-noDropdown {
      color: $subMenuActiveText !important;

      i {
        color: $subMenuActiveText !important;
      }
    }

    /* 子菜单中还有子菜单 */
    .el-menu .el-sub-menu__title {
      font-size: 12px;
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
    }

    .el-menu-item,
    .el-sub-menu__title {
      height: 50px;
      line-height: 50px;
      color: $menuText;
      background-color: $subMenuBg;

      &:hover {
        color: $menuTitleHover !important;
      }
    }

    .is-active {
      transition: color 0.3s;
      color: $subMenuActiveText !important;
    }

    .el-menu-item.is-active.nest-menu {
      background: $subMenuActiveBg !important;
    }

    .el-menu-item,
    .el-sub-menu {
      // i {
      //   width: 20px;
      //   text-align: center;
      //   font-size: 16px;
      // }

      // i.fa {
      //   margin-right: 5px;
      //   font-size: 16px;
      // }
      .el-menu-tooltip__trigger {
        width: 54px;
        padding: 18px !important;
      }
    }
  }
}

body[layout="vertical"] {
  $sideBarWidth: 210px;
  $menuActiveText: #7a80b4;
  $subMenuActiveText: "#409eff";
  $menuBg: "#fff";
  $menuHover: "#e0ebf6";
  $subMenuBg: "#fff";
  $subMenuActiveBg: "#e0ebf6";
  $menuText: "#7a80b4";
  $sidebarLogo: "#fff";
  $menuTitleHover: "#000";
  $menuActiveBefore: "#4091f7";

  @include merge-style($sideBarWidth);

  .el-menu--collapse {
    width: 54px;
  }

  .sidebar-logo-container {
    background: $sidebarLogo;
  }

  .hideSidebar {
    .fixed-header {
      width: calc(100% - 54px);
      transition: width var(--pure-transition-duration);
    }

    .sidebar-container {
      transition: width 0.125s;
      width: 54px !important;

      .is-active.submenu-title-noDropdown.outer-most {
        background: transparent !important;
      }
    }

    .main-container {
      margin-left: 54px;
    }

    /* 菜单折叠 */
    .el-menu--collapse {
      .el-sub-menu {
        & > .el-sub-menu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }

      .submenu-title-noDropdown {
        background: transparent !important;
      }

      .el-sub-menu__title {
        padding: 0 18px !important;
      }
    }

    .sub-menu-icon {
      margin-right: 0;
    }
  }
}
