@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-c {
    @apply flex items-center justify-center;
  }

  .flex-ac {
    @apply flex items-center justify-around;
  }

  .flex-bc {
    @apply flex items-center justify-between;
  }

  .navbar-bg-hover {
    @apply dark: text-white dark:hover: !bg-[#242424];
  }
}