@use "../styles/variables" as *;

.el-container {
	width: 100%;
	height: 100%;

	.el-header {
		display: flex;
		box-sizing: border-box;
		align-items: center;
		justify-content: space-between;
		height: $header-height;
		padding: 0 15px 0 0;
		border-bottom: 1px solid $header-light-border;
		background-color: $header-dark-bg;

		.logo {
			width: $menu-width-expanded;
			margin-right: 30px;

			span {
				color: $header-dark-text;
				font-size: 21.5px;
				font-weight: bold;
				white-space: nowrap;
			}

			img {
				width: 28px;
				object-fit: contain;
				margin-right: 6px;
			}
		}

		:deep(.el-menu) {
			flex: 1;
			overflow: hidden;
			border-bottom: none;

			.is-active {
				border-bottom-color: var(--el-color-primary) !important;
				background-color: var(--el-color-primary) !important;

				.el-sub-menu__title {
					border-bottom-color: var(--el-color-primary) !important;
					background-color: var(--el-color-primary) !important;
					color: #fff !important;
				}

				&:hover {
					color: #fff !important;
				}
			}
		}

		:deep(.header-right) {
			.toolBar-icon,
			.username {
				color: $header-dark-subtext;
			}
		}
	}
}
