/* stylelint-disable-next-line scss/dollar-variable-pattern */
$--colors: (
  "white": #fff,
  "black": #000,
  "primary": (
    "base": #97bfe7,
    "light-7": red,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
  "default": (
    "base": #bfa,
  ),
);

/* stylelint-disable-next-line at-rule-no-unknown */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $button: (
    "font-weight": 500,
  ),
  $date-editor: (
    "daterange-width": 260px,
  ),
  $button-font-size: (
    "default": 16px,
  )
);

// * card 卡片样式
.base-card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  background-color: var(--el-fill-color-blank);
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

:root {
  // --el-color-primary: #a0c4ff;
  --el-menu-icon-width: 20px;
}
