/* 自定义 element 暗黑模式样式 */
html.dark {
  // * cch-admin
  --cch-bg-color: #141414;
  --cch-main-bg-color: #0d0d0d;
  --cch-border-light: 1px solid #4c4c4d;

  // * wangEditor
  --w-e-toolbar-color: #595959;
  --w-e-toolbar-bg-color: #eeeeee;
  --w-e-textarea-bg-color: #141414;
  --w-e-textarea-color: #eeeeee;

  // * 以下为自定义暗黑模式内容
  // login
  .cch-login-page {
    background-color: var(--el-fill-color-extra-light) !important;
    .login-box {
      background-color: var(--el-mask-color) !important;
      .login-form {
        background-color: var(--el-bg-color) !important;
        box-shadow: 5px 5px 15px rgb(161 161 161 / 20%) !important;
        .logo-text {
          color: var(--el-text-color-primary) !important;
        }
      }
    }
  }

  // scroll-bar
  ::-webkit-scrollbar {
    background-color: var(--el-scrollbar-bg-color) !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--el-border-color-darker) !important;
  }

  // layout
  .el-container {
    .el-aside {
      background-color: var(--cch-bg-color) !important;
      border-right: var(--cch-border-light) !important;
      .logo {
        border-bottom: var(--cch-border-light) !important;
      }
    }
    .not-aside {
      border-right: none !important;
    }
    .el-header {
      background-color: var(--cch-bg-color) !important;
      border-bottom-color: var(--el-border-color-light) !important;
    }
    .el-main {
      background-color: var(--cch-main-bg-color) !important;
      .card {
        background-color: var(--cch-bg-color) !important;
      }
    }
    .el-tabs {
      background-color: var(--cch-bg-color) !important;
    }
    .el-footer {
      .footer {
        background-color: var(--cch-bg-color) !important;
        border-top-color: var(--el-border-color-light) !important;
        a {
          color: var(--el-text-color-regular) !important;
        }
      }
    }
  }

  // menu
  .el-menu,
  .el-sub-menu,
  .el-menu-item,
  .el-sub-menu__title {
    background-color: var(--cch-bg-color) !important;
    &:not(.is-active) {
      color: #bdbdc0 !important;
    }
    &.is-active {
      color: #ffffff !important;
      background-color: #000000 !important;
    }
  }
  .el-menu-item:not(.is-active):hover {
    background-color: var(--cch-main-bg-color) !important;
  }
  .aside-split {
    background-color: var(--cch-bg-color) !important;
    border-right: var(--cch-border-light) !important;
    .logo {
      border-bottom: var(--cch-border-light) !important;
    }
  }

  // guide
  #driver-highlighted-element-stage {
    background-color: var(--el-color-info-light-5) !important;
  }

  // color-scheme: dark;
  // --el-color-primary: #409eff;
  // --el-color-primary-light-3: #409eff;
  // --el-color-primary-light-5: #409eff;
  // --el-color-primary-light-7: #409eff;
  // --el-color-primary-light-8: #409eff;
  // --el-color-primary-light-9: #409eff;
  // --el-color-primary-dark-2: #409eff;
  // --el-color-success: #409eff;
  // --el-color-success-light-3: #409eff;
  // --el-color-success-light-5: #3e6b27;
  // --el-color-success-light-7: #2d481f;
  // --el-color-success-light-8: #25371c;
  // --el-color-success-light-9: #1c2518;
  // --el-color-success-dark-2: #85ce61;
  // --el-color-warning: #e6a23c;
  // --el-color-warning-light-3: #a77730;
  // --el-color-warning-light-5: #7d5b28;
  // --el-color-warning-light-7: #533f20;
  // --el-color-warning-light-8: #3e301c;
  // --el-color-warning-light-9: #292218;
  // --el-color-warning-dark-2: #ebb563;
  // --el-color-danger: #f56c6c;
  // --el-color-danger-light-3: #b25252;
  // --el-color-danger-light-5: #854040;
  // --el-color-danger-light-7: #582e2e;
  // --el-color-danger-light-8: #412626;
  // --el-color-danger-light-9: #2b1d1d;
  // --el-color-danger-dark-2: #f78989;
  // --el-color-error: #f56c6c;
  // --el-color-error-light-3: #b25252;
  // --el-color-error-light-5: #854040;
  // --el-color-error-light-7: #582e2e;
  // --el-color-error-light-8: #412626;
  // --el-color-error-light-9: #2b1d1d;
  // --el-color-error-dark-2: #f78989;
  // --el-color-info: #67c23a;
  // --el-color-info-light-3: #67c23a;
  // --el-color-info-light-5: #67c23a;
  // --el-color-info-light-7: #393a3c;
  // --el-color-info-light-8: #2d2d2f;
  // --el-color-info-light-9: #202121;
  // --el-color-info-dark-2: #67c23a;
  // --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36),
  //   0px 8px 20px rgba(0, 0, 0, 0.72);
  // --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  // --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  // --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72),
  //   0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  // --el-bg-color-page: #409eff;
  // --el-bg-color: #409eff;
  // --el-bg-color-overlay: #409eff;
  // --el-text-color-primary: #409eff;
  // --el-text-color-regular: #409eff;
  // --el-text-color-secondary: #409eff;
  // --el-text-color-placeholder: #409eff;
  // --el-text-color-disabled: #409eff;
  // --el-border-color-darker: #409eff;
  // --el-border-color-dark: #409eff;
  // --el-border-color: #409eff;
  // --el-border-color-light: #409eff;
  // --el-border-color-lighter: #409eff;
  // --el-border-color-extra-light: #409eff;
  // --el-fill-color-darker: #409eff;
  // --el-fill-color-dark: #409eff;
  // --el-fill-color: #409eff;
  // --el-fill-color-light: #409eff;
  // --el-fill-color-lighter: #409eff;
  // --el-fill-color-extra-light: #409eff;
  // --el-fill-color-blank: #409eff;
  // --el-mask-color: rgba(0, 0, 0, 0.8);
  // --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);

  // color: unset;
}
