.container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #598dc2, #6795c1, #aac0d6);

  .auto-loading-content {
    $height: 80px;
    $gap: 15px;
    display: flex;
    align-items: center;
    height: $height;
    position: relative;

    $spanWidth: 4px;
    $spanNum: 15;
    @for $i from 0 to $spanNum {
      .span#{$i} {
        width: 4px;
        height: 20%;
        border-radius: calc($height * 0.2 * 0.5);
        background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
        animation: loading 2.5s infinite linear;
        $delay: calc(floor(abs(calc($spanNum / 2 - $i))));
        animation-delay: calc(0.2s * $delay);

        &:not(:first-child) {
          margin-left: 4px;
        }
      }
    }

    @keyframes loading {
      0% {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        height: 20%;
        border-radius: calc($height * 0.2 * 0.5);
      }
      25% {
        background-image: linear-gradient(to top, #d2c199 0%, #2cd835 100%);
        height: 60%;
        border-radius: calc($height * 0.6 * 0.5);
      }
      50% {
        background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
        height: 100%;
        border-radius: calc($height * 1 * 0.5);
      }
      75% {
        background-image: linear-gradient(to top, #d2c199 0%, #2cd835 100%);
        height: 60%;
        border-radius: calc($height * 0.6 * 0.5);
      }
      100% {
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        height: 20%;
        border-radius: calc($height * 0.2 * 0.5);
      }
    }
  }

  .annulus-content {
    $width: 200px;
    $height: 100px;
    $gap: 15px;
    width: $width;
    height: $height;
    margin-top: -$height;
    position: relative;
    cursor: pointer;

    .item {
      border: 5px solid;
      border-radius: 50% 50% 0 0/100% 100% 0 0;
      border-bottom: none;
      position: absolute;
      bottom: 0;
      animation: rotate 2s cubic-bezier(0.11, 0.85, 0.22, 1.3) infinite;
      transform-origin: 50% 100%;
      transition: all 0.5s;
    }

    .item1 {
      @extend .item;
      border-color: #e94545;
      $width1: $width;
      width: $width1;
      height: calc($width1 / 2);
      left: calc(50% - $width1 / 2);
    }
    .item2 {
      @extend .item;
      border-color: #eb8f34;
      $width2: calc($width - $gap * 2);
      width: $width2;
      height: calc($width2 / 2);
      left: calc(50% - $width2 / 2);
      animation-delay: -60ms;
    }
    .item3 {
      @extend .item;
      border-color: #eecf69;
      $width3: calc($width - $gap * 2 * 2);
      width: $width3;
      height: calc($width3 / 2);
      left: calc(50% - $width3 / 2);
      animation-delay: calc(-60ms * 2);
    }
    .item4 {
      @extend .item;
      border-color: #215221;
      $width4: calc($width - $gap * 2 * 3);
      width: $width4;
      height: calc($width4 / 2);
      left: calc(50% - $width4 / 2);
      animation-delay: calc(-60ms * 3);
    }
    .item5 {
      @extend .item;
      border-color: #87bb80;
      $width5: calc($width - $gap * 2 * 4);
      width: $width5;
      height: calc($width5 / 2);
      left: calc(50% - $width5 / 2);
      animation-delay: calc(-60ms * 4);
    }
    .item6 {
      @extend .item;
      border-color: #87ceeb;
      $width6: calc($width - $gap * 2 * 5);
      width: $width6;
      height: calc($width6 / 2);
      left: calc(50% - $width6 / 2);
      animation-delay: calc(-60ms * 5);
    }
    .item7 {
      @extend .item;
      border-color: #c393eb;
      $width7: calc($width - $gap * 2 * 6);
      width: $width7;
      height: calc($width7 / 2);
      left: calc(50% - $width7 / 2);
      animation-delay: calc(-60ms * 6);
    }

    &:hover {
      .item {
        filter: brightness(1.5);
        animation-play-state: paused;
      }
    }

    @keyframes rotate {
      0%,
      25% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .dot-content {
    @keyframes dot-blink {
      0%,
      100% {
        transform: scale(1);
        background-color: #ccc;
      }

      50% {
        transform: scale(1.2);
        background-color: #007bff;
      }
    }

    display: flex;
    align-items: center;

    .dot {
      width: 12px;
      height: 12px;
      margin: 0 5px;
      animation: dot-blink 1.5s infinite ease-in-out;
      border-radius: 50%;
      background-color: #ccc;
    }

    .dot:nth-child(2) {
      animation-delay: 0.3s;
    }

    .dot:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}
