@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
  font-family: Lato, sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  transform-origin: top left;
  transition: transform 0.5s linear;
  background-color: #fafafa;

  &.show-nav {
    transform: rotate(-20deg);
  }

  &.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;

  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.5s linear;
    border-radius: 50%;
    background-color: #ff7979;

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100px;
      border: 0;
      background: transparent;
      color: #fff;
      font-size: 26px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &#open {
        left: 60%;
      }

      &#close {
        top: 60%;
        transform: rotate(90deg);
        transform-origin: top left;
      }
    }
  }

  .container.show-nav & .circle {
    transform: rotate(-70deg);
  }
}

nav {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  left: 0;

  ul {
    padding-left: 30px;
    list-style-type: none;

    li {
      margin: 40px 0;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in;
      color: #fff;
      text-transform: uppercase;

      & + li {
        margin-left: 15px;
        transform: translateX(-150%);
      }

      & + li + li {
        margin-left: 30px;
        transform: translateX(-200%);
      }

      i {
        margin-right: 10px;
        font-size: 20px;
      }

      a {
        transition: all 0.5s;
        color: #fafafa;
        text-decoration: none;

        &:hover {
          color: #ff7979;
          font-weight: bold;
        }
      }
    }
  }
}

.content {
  max-width: 1000px;
  margin: 50px auto;

  img {
    max-width: 100%;
  }

  h1 {
    margin: 0;
  }

  small {
    color: #555;
    font-style: italic;
  }

  p {
    color: #333;
    line-height: 1.5;
  }
}
